.choosee-page {
    width: 100%;
    height: 100%;
}

.navbar {
    padding: 10px;
    border-radius: 0 0 30px 30px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    margin-left: 15px;
    font-size: 35px !important;
}

.nav-item {
    margin-left: 40px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
}

#navbarSupportedContent {
    margin-right: 20px;
}

.body-content {
    margin-top: 40px;
    transition: .4s;
}

.welcome-txt {
    margin-left: 30px;
    transition: 1s width;
}

#welcome {
    font-size: 50px;
    color: #A93AFF;
    font-family: 'Montserrat', sans-serif;
}

#books {
    margin-top: 20px;
    font-size: 40px;
    color: #995DF4;
    font-family: 'Montserrat', sans-serif;
}

.main-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.functions {
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2rem;
}

.book-list {
    margin: 0 3% 0 11%;
    width: 100%;
}

.table {
    max-width: 60rem;
    font-family: 'Montserrat', sans-serif;
}